.message {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.message > img {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
  border-radius: 50%;
}

.message__info {
  padding-left: 1rem;
}

.message__timestamp {
  color: gray;
  font-weight: 300;
  font-size: 1.3rem;
}
